h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
.align-center {
	text-align: center;
}
.board {
	display: inline-block;
	height: 50%;
	width: 50%;
}
.card {
	background-color: #ffd700;
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	border-radius: 10px;
	float: left;
	margin: 8%;
}
.name {
	color: #ff0000;
}
nav {
	background: #808080;
}
a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
a:hover {
	background-color: #ff0000;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer {
	background: #808080;
}